<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="1.0">
    <persistence-unit name="organizer">
        <class>ua.dp.skillsup.practice.organizer.domain.User</class>
        <class>ua.dp.skillsup.practice.organizer.domain.Role</class>
        <class>ua.dp.skillsup.practice.organizer.domain.Event</class>
    </persistence-unit>
</persistence>